.container {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.checked .text {
  text-decoration: line-through;
}

.check {
  background-color: transparent;
  padding: 10px;
  margin-right: 8px;
}

.text {
  flex: 1;
  margin-right: 10px;
}

.remove {
  padding: 10px;
  background-color: transparent;
}
